


body {
    background-color: #93b96c;
}

.header {
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #8daebe;
    color: white;
    position: fixed;
}

.header nav {
    /* changed div to nav */
     padding-top: 15px;
     margin-right: 20px;
     float: right;
     font-family: 'Courier New', Courier, monospace;
     font-size: 15px;
 }
 
 .header nav ul {
     list-style-type: none;
     /* changed div to nav */
 }
 
 .header nav ul li {
     /* chnaged div to nav */
     display: inline-block;
     margin-left: 25px;
 }



.words {
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #ac8a6e;
    color: white;
    position: relative;
    top: 150px;


}






.footer {
    padding: 30px;
    clear: both;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    position: relative;
    bottom: -1000px;

}

.footer h2 {
    font-size: 20px;
}